{% load static %}
<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">
                <!-- Breaking News -->
                <div class="col-12 col-sm-6">
                    <div class="breaking-news">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="">Boas vindas!</a></li>
                                <li><a href="">Projeto Workplace</a></li>
                                <li><a href="">Cadastre o seu</a></li>
                                <li><a href="">Equipamento aqui!</a></li>
                            </ul>
                            <div class="buttons">
                                <label class="form-check-label paragraph" for="toggle">Escuro</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="toggle" checked>
                                    <label class="form-check-label paragraph" for="toggle">Claro</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Top Social Info -->
                <div class="col-12 ol-sm-6">
                    <div class="top-social-info text-right">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciusNav">
                    <!-- Logo -->
                    <a class="nav-brand" href="#">
                        <img src="{% static 'img/core-img/logo2.png' %}" alt="">
                    </a>
                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="to$p"></span>
                                <span class="botton"></span>
                            </div>
                        </div>
                        <!-- Nav Start -->
                        <div class="cassynav">
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">Página principal</a></li>
                                    <li><a href="#">Dashboard</a></li>
                                </ul>
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <!-- endnav -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->